@{
    ViewBag.Title = "About Us";
}
<h2>About Us</h2>
<h3>BoxBuster is an online rental movie database where customers can:</h3>

<li>See previews of the year's upcoming movies before they hit the Theatres, your source for new movie previews, news and reviews!</li>
<li>Stay up to date with new movies, watch the latest trailers & get trusted reviews of upcoming movies.</li>
<li>Browse per Genre, watch movie online & On Demand. Choose from hundreds, including new releases!</li>
