@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="bold-blue">BoxBuster</h1>
    <p class="lead">Online movie rental where customers can rent what they want for a specific period of time.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>




    <div class="row">
        <div class="col-md-4">
            <h2>Check out new movies here!</h2>
            <p>
                Source for new movie previews, news and reviews before they hit the Theatre at BoxBuster!
            </p>
            <p><a class="btn btn-default" href="https://www.imdb.com/">Discover &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Release</h2>
            <p>Watch the latest trailers & get trusted reviews of upcoming movies. </p>
            <p><a class="btn btn-default" href="https://www.rottentomatoes.com/">Discover &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Movies on demand</h2>
            <p>Browse per genre, rent movies online & on demand choose from variety including new releases.</p>
            <p><a class="btn btn-default" href="https://www.netflix.com/gb/">Discover &raquo;</a></p>
        </div>
    </div>
